<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>作业批改系统</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body>

<header th:include="include/header :: header"></header>

<article>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">

					<h4>
						<strong>添加学生</strong>
					</h4>
					<hr/>

					<form class="form-horizontal" th:action="@{studentAdd}">
						<div class="form-group">
							<label class="control-label col-md-2">学号：</label>
							<div class="col-md-3">
								<input name="stuId" type="text" class="form-control" required>
								<div style="color: red" th:text="${errormsg}"></div>
							</div>

							<label class="control-label col-md-2">姓名：</label>
							<div class="col-md-3">
								<input name="stuName" type="text" class="form-control" required>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">班级名称：</label>
							<div class="col-md-3">
								<!--<select class="form-control"  name="cname" th:value="*{cname}">-->
									<!--&lt;!&ndash;<option value="男" th:selected="*{sex=='男'}">男</option>&ndash;&gt;-->
									<!--&lt;!&ndash;<option value="女" th:selected="*{sex=='女'}">女</option>&ndash;&gt;-->
								<!--</select>-->
								<input name="className" type="text" class="form-control" required>
							</div>
						</div>



						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">
								<button type="submit" onclick="addStudent()" class="btn btn-primary">保存</button>
								<a th:href="@{studentAdd}"  class="btn btn-default">取消</a>
							</div>
						</div>
					</form>

				</div><!--/.content-->
			</div><!--/.col-md-12-->
		</div><!--/.row-->
	</div><!--/.container-->
</article>

<footer>
	<p class="copyright">
		&copy;2019 <a href="#"></a> 作业批改系统
	</p>
</footer>

<script src="../js/jquery-1.12.4.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.validate.min.js"></script>
<script src="../plugins/layer/layer.js"></script>
<script src="../plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="../plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="../js/base.js"></script>
<script>
	// 日期控件
	$(".datepicker").datepicker({
		format: "yyyy-mm-dd",
		language: "zh-CN",
		todayBtn: "linked",
		todayHighlight: true,
		autoclose: true
	}).on("changeDate", function () {
		validator.element(this);
	});
    function addStudent() {
        var stuId=$("input[name='stuId']").val();
        var stuName=$("input[name='stuName']").val();
        var classId=$("input[name='classId']").val();
        $.ajax({
            url:'/addTeacher',
            type:"post",
            dataType:"json",
            data:{"stuId":stuId,"stuName":stuName,"classId":classId},
            success:function(data){
                window.alert("添加成功");
                window.location.href='/student'
            },
            error:function () {
                window.alert("添加失败,请确认输入是否正确");
            }
        });
    };

	/* 表单验证 */
	// var validator = $("form").validate({
	// 	ignore: [],
	// 	rules: {},
	// 	errorPlacement: function (error, element) {
	// 		var target = $(element);
	// 		if ($(element).attr("id") === "content") {
	// 			target = $(element).closest(".col-md-12");
	// 		}
	// 		if (!target.next("div").hasClass("tooltip")) {
	// 			target.attr("title", $(error).text()).tooltip({trigger: "manual"}).tooltip("show");
	// 		}
	// 	},
	// 	unhighlight: function (element, errorClass, validClass) {
	// 		var target = $(element);
	// 		if ($(element).attr("id") === "content") {
	// 			target = $(element).closest(".col-md-12");
	// 		}
	// 		target.tooltip('destroy').removeClass(errorClass);
	// 	},
	// 	submitHandler: function (form) {
	// 		alert($(form).serialize());
	// 	}
	// });
</script>

</body>
</html>