<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>作业批改系统</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body>

<header th:include="include/header :: header"></header>

<article>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">

					<h4>
						<strong>修改老师</strong>
					</h4>
					<hr/>

					<form class="form-horizontal" th:action="@{teacherUpdate}" th:object="${tea}" method="post">
						<input th:value="*{teaId}"  name="id" type="hidden" required>
						<div class="form-group">
							<label class="control-label col-md-2">工号：</label>
							<div class="col-md-3">
								<input th:value="*{teaId}"  name="teaId" type="text" class="form-control" required>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">姓名：</label>
							<div class="col-md-3">
								<input th:value="*{teaName}" name="teaName" type="text" class="form-control" required>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">班级名称：</label>
							<div class="col-md-3">
								<input th:value="*{className}" name="className" type="text" class="form-control" required>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">
								<button type="submit" class="btn btn-primary" onclick="updateTeacher()">确定</button>
								<a th:href="@{teacherUpdate}"  class="btn btn-default">取消</a>
							</div>
						</div>
					</form>

				</div><!--/.content-->
			</div><!--/.col-md-12-->
		</div><!--/.row-->
	</div><!--/.container-->
</article>

<footer>
	<p class="copyright">
		&copy;2019 <a href="#"></a> 作业批改系统
	</p>
</footer>

<script src="../js/jquery-1.12.4.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.validate.min.js"></script>
<script src="../plugins/layer/layer.js"></script>
<script src="../plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="../plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="../js/base.js"></script>
<script>
	// 日期控件
	$(".datepicker").datepicker({
		format: "yyyy-mm-dd",
		language: "zh-CN",
		todayBtn: "linked",
		todayHighlight: true,
		autoclose: true
	}).on("changeDate", function () {
		validator.element(this);
	});

</script>

<script>
	function updateTeacher() {
		var teaId=$("input[name='teaId']").val();
		var teaName=$("input[name='teaName']").val();
		var className=$("input[name='className']").val();
		$.ajax({
			url:'/updateTeacher'+'/'+teaId+'-'+teaName+"-"+className,
			type:"post",
			dataType:"text",
			data:{"teaId":teaId,"teaName":teaName,"teaName":teaName},
			success:function(data){
				window.alert("添加老师成功");
				window.location.href='/teacherUpdate'
			},
			error:function () {
				window.alert("添加失败");
			}
		});
	};
</script>

</body>
</html>