<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>作业批改系统</title>
	<link th:href="@{/templates/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/templates/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<header th:include="include/header :: header"></header>

<article>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">

					<h4>
						<strong>教师管理</strong>
						<a class="btn btn-info btn-xs"th:href="@{teacherAdd}">
							<span class="glyphicon glyphicon-plus"></span> 添加
						</a>
					</h4>
					<hr/>

					<form class="form-inline m-t-15 m-b-10">
						<!--<div class="form-group form-group-sm">-->
							<!--<label>工号：</label>-->
							<!--<input type="text" class="form-control" size="8">-->
						<!--</div>-->
						<div class="form-group form-group-sm">
							<label>姓名：</label>
							<input type="text" class="form-control" size="5">
						</div>

						<!--<div class="form-group form-group-sm">-->
							<!--<label>班级：</label>-->
							<!--<select class="form-control">-->
								<!--<option value="-1">-请选择-</option>-->
								<!--<option value="1">19软件</option>-->
							<!--</select>-->
						<!--</div>-->
						<div class="form-group form-group-sm">
							<button type="submit" class="btn btn-primary btn-sm" onclick="findByTeacherName()">
								<span class="glyphicon glyphicon-search"></span> 搜索
							</button>
						</div>
					</form>

					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
							<tr>
								<th><input type="checkbox" class="checkAll"></th>
								<th>工号</th>
								<th>姓名</th>
								<th>班级名称</th>

								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="tea:${teacherList}">
								<td><input type="checkbox" class="checkItem"></td>
								<td th:text="${tea.teaId}">080606110</td>
								<td th:text="${tea.teaName}">唐僧</td>
								<td th:text="${tea.classId}">cname</td>
								<td>
									<a th:href="@{/teacherUpdate(id=${tea.teaId})}">修改</a>&nbsp;&nbsp;
									<a th:href="@{/deleteById(id=${tea.teaId})}" onclick="javascript:return delTeacher();">删除</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>

					<div class="text-center">
						<ul class="pagination">
							<li><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>

				</div><!--/.content-->
			</div><!--/.col-md-12-->
		</div><!--/.row-->
	</div><!--/.container-->
</article>

<footer>
	<p class="copyright">
		&copy;2019 <a href="#"></a> 作业批改系统
	</p>
</footer>



<script th:src="@{//plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}" ></script>
<script th:src="@{/templates/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
<script th:src="@{/templates/js/jquery-1.12.4.min.js}" ></script>
<script th:src="@{/templates/js/bootstrap.min.js}" ></script>
<script th:src="@{/templates/plugins/layer/layer.js}"></script>
<script th:src="@{/templates/js/base.js}"></script>
<script>
	// 日期控件
	// $(".datepicker").datepicker({
	// 	format: "yyyy-mm-dd",
	// 	language: "zh-CN",
	// 	todayBtn: "linked",
	// 	todayHighlight: true,
	// 	autoclose: true
	// });

    // var render = {
    //     list:function (data) {
    //         var html = '';
    //         for (var i = 0; i < data.length; i++) {
    //             var d = data[i];
    //             html += "<tr >" +
    //                 "<td >"+data[i]['teaId']+"</td>\n" +
    //                 "<td >"+data[i]['teaName']+"</td>\n" +
    //                 "<td>\n" +
    //                 "<td>"
    //             // +
    //             //     // "<input type='button' id='upBtn' value='修改'/>"
    //             // "<a href=\"/workUpdate?id="+data[i].workId+"\">修改</a>&nbsp;&nbsp;\n"
    //             //     +"<input type='button' id='delBtn' value='删除' onclick='del("+data[i].id+")'/>"+"</td>"+
    //             //     "</tr>\n";
    //         }
    //         $("#tbodydata").html(html);
    //     }
    // }
    // $(function () {
    //     var res = $.ajax({
    //         url:"/findAllTeacherList",
    //         type:"get",
    //         dataType:"json",
    //         success:function (data) {
    //             render.list(data);
    //         }
    //     });
    // });
	function delTeacher() {
		var msg = "您真的确定要删除吗？\n\n请确认！";
		if (confirm(msg)==true){
			return true;
		}else{
			return false;
		}
	}

	function findByTeacherName() {
		var teaName = $("#teaName").val();
		var res = $.ajax({
			url:"/findByTeacherName",
			type:"post",
			dataType:"json",
			data:{"teaName":teaName},
			success:function (data) {
				var html = '';

				for (var i = 0; i < data.length; i++) {
					var d = data[i];
					html += "<tr >" +
							"<td><input type=\"checkbox\" class=\"checkItem\"></td>\n" +
							"<td >"+data[i]['teaId']+"</td>\n" +
							"<td >"+d['teaName']+"</td>\n" +
                        	"<td >"+d['classId']+"</td>\n" +
							// "<td >"+data[i].cdesc+"</td>\n" +
							"<td>\n" +
							"<a href=\"/classUpdate?id="+data[i]['teaId']+"\">修改</a>&nbsp;&nbsp;\n" +
							"<a href=\"/deleteTeacher?id="+data[i]['teaId']+"\" onclick=\"javascript:return delTeacher();\">删除</a>\n" +
							"</td>\n" +
							"</tr>\n";
				}

				$("#list_result").html(html);
			}
		});
	}
</script>

</body>
</html>