<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gxun.soft.homework_system.mapper.AccountMapper">
    <insert id="addAccount" parameterType="gxun.soft.homework_system.domain.Account">
        insert into account(userId, password, accountType) values(#{account.userId},#{account.password},#{account.accountType})
    </insert>


    int addAccount(@Param("account") Account account);

    int deleteAccountById(@Param("accountId") Integer accountId);

    int updatePassword(@Param("account") Account account);

    Account findAccountById(@Param("accountId") Integer accountId);

    List<Account> getAllAccounts();

</mapper>