<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gxun.soft.homework_system.mapper.ClassMapper">

<!--    新增班级-->
    <insert id="addClass" parameterType="gxun.soft.homework_system.domain.MyClass">
        insert into class(classId, className) values (#{myClass.classId}, #{myClass.className})
    </insert>

<!--    按班级id删除班级-->
    <delete id="deleteClassByClassId" parameterType="int">
        delete from class where classId = #{classId}
    </delete>

<!--    按班级id查找班级-->
    <select id="findClassByClassId" parameterType="int" resultType="gxun.soft.homework_system.domain.MyClass">
        select * from class where classId = classId = #{classId}
    </select>

<!--    按班级名称查找班级-->
    <select id="findClassByClassName" parameterType="string" resultType="gxun.soft.homework_system.domain.MyClass">
        select * from  class where className like '%${className}%'
    </select>

<!--    查看所有班级-->
    <select id="getAllClasses" resultType="gxun.soft.homework_system.domain.MyClass">
        select * from class
    </select>
</mapper>
