<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gxun.soft.homework_system.mapper.LoginMapper">
<!--    匹配账号密码登录-->
    <select id="accountLogin" parameterType="gxun.soft.homework_system.domain.Account" resultType="gxun.soft.homework_system.domain.Account">
        select * from account where userId = #{account.userId} and password = #{account.password}
    </select>
</mapper>