<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gxun.soft.homework_system.mapper.TeacherMapper">

    <insert id="addTeacher" parameterType="gxun.soft.homework_system.domain.Teacher">
        insert into teacher (teaId, classId, teaName) values(#{teacher.teaId},#{teacher.classId},#{teacher.teaName}})
    </insert>
    
    <delete id="deleteTeacherByTeacherId" parameterType="int">
        delete from account where userId = #{teaId}
    </delete>

    <select id="findTeacherByTeacherId" parameterType="int" resultType="gxun.soft.homework_system.domain.Teacher">
        select * from teacher where teaId = #{teaId}
    </select>

    <select id="findTeacherByTeacherName" parameterType="String" resultType="gxun.soft.homework_system.domain.Teacher">
        select * from teacher where teaName like '%${teaName}%'
    </select>

    <select id="findTeacherByClassId" parameterType="int" resultType="gxun.soft.homework_system.domain.Teacher">
        select * from teacher where classId = #{classId}
    </select>

    <select id="getAllTeacher" resultType="gxun.soft.homework_system.domain.Teacher">
        select * from teacher
    </select>

</mapper>