<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <meta charset="utf-8" >
    <link rel="stylesheet" type="text/css" href="../css/stu.css" media="screen" />
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
    <script type="text/javascript" src="../js/stu_js/exit.js"></script>
</head>
<body>
<aside id = "menu" class="sidebar" >
    <nav>
        <h1 >功能菜单</h1>
        <ul>
            <li><a id="index" href="student_index.html">首页 </a></li>
            <!--<li><a id="work" href="#">  完成作业  </a> </li>-->
            <li><a id="score" href="student_checkscore.html"> 查看分数 </a> </li>
            <li><a id="me" href="student_per_information.html"> 个人信息 </a> </li>
            <li onclick="exit()"> <a href="#">退出系统</a></li>
        </ul>
    </nav>
</aside>
</body>
</html>