<!DOCTYPE html>
<html>
	<head>
		<title>作业批改系统</title>
		<meta charset="utf-8" >
        <link href="css/teacher_style.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
		
		<script type="text/javascript" src="js/time.js"></script>
		
		<script type="text/javascript" src="js/teacherTable.js"></script>
		
		<script type="text/javascript">
			function showTime(){
   			 nowtime=new Date();
   			 year=nowtime.getFullYear();
   			 month=nowtime.getMonth()+1;
  			 date=nowtime.getDate();
    		 document.getElementById("mytime").innerText=year+"年"+month+"月"+date+" "+nowtime.toLocaleTimeString();
			}
           setInterval("showTime()",1000);
        </script>
	 </head>
	 <body >
	 	<div class="wrapper">
	 		<div id="header">
	 			<div id="header_top">作业批改系统</div>
	 			<div id="header_boom"> 欢迎您，xxx老师~
					<span id="mytime">  </span>
	 			</div>
	 		</div>
	 		<aside class="sidebar" >
	 			<nav>
	 			<h1 >功能菜单</h1>
	 			<ul>
	 				<li><a id="tc_index" href="#">首页 </a></li>
	 				<li><a  id="tc_publish"   href="#">  发布作业  </a> </li>
	 				<li><a  id="tc_correct"   href="#">  批改作业   </a>
                     </li><li><a  id="tc_score"   href="#">  成绩统计  </a> </li>
                     <li><a  id="tc_ques"   href="#">  题库管理   </a> </li>
                      <li><a  id="tc_personal"   href="#">  个人信息   </a> </li>
	 			</ul>
	 			</nav>
	 		</aside>
            
<div class="content">
<div id="d1" class="col_w700">
<div class="col_w300">
<h2>welcome</h2>
</div>
<div class="col_w500" style="height:420px;">
<h2 style="text-align: left;">最近发布的作业：</h2>
	 		      <TABLE border=0 cellpadding=1 cellspacing=1 id="table_work" width="800"  style="font-size: 18px;">
	 		        <thead>
	 		          <TR style="background:#999FDD;">
	 		            <th>作业编号</th>
	 		            <th>作业题目</th>
	 		            <th>所属班级</th>
	 		            <th>发布时间</th>
                        <th>结束时间</th>
 		              </TR>
 		            </thead>
	 		        <tbody>
	 		          <tr class="tr_work">
	 		            <td>W10001</td>
	 		            <td>作业题目1</td>
	 		            <td>软件1班</td>
	 		            <td>2019/6/30 20:00</td>
                        <td>2019/6/30 20:00</td>
 		              </TR>
	 		          <TR class="tr_work">
	 		            <td>W10002</td>
	 		            <td>作业题目2</td>
	 		            <td>软件1班</td>
	 		            <td>2019/6/29 20:00</td>
                        <td>2019/6/30 20:00</td>
 		              </TR>
	 		          <TR class="tr_work">
	 		            <td>W10003</td>
	 		            <td>作业题目3</td>
	 		            <td>软件1班</td>
	 		            <td>2019/6/15 21:00</td>
                        <td>2019/6/30 20:00</td>
 		              </TR>
	 		          <TR class="tr_work">
	 		            <td>W10004</td>
	 		            <td>作业题目4</td>
	 		            <td>软件1班</td>
	 		            <td>2019/6/03 20:00</td>
                        <td>2019/6/30 20:00</td>
 		              </TR>
	 		          <TR class="tr_work">
	 		            <td>W10005</td>
	 		            <td>作业题目5</td>
	 		            <td>软件1班</td>
	 		            <td>2019/6/01 22:00</td>
                        <td>2019/6/30 20:00</td>
 		              </TR>
 		            </tbody>
 		          </TABLE>
 		        </div>
 		      </div>
              
<div id="d2" class="col_w700">
<div class="col_w300">
<h2>发布新作业</h2>
</div>

<div class="col_w500">
       	  <div id="tc_form">
                 <p>&nbsp;</p>
                <form  id="tc_publish_form" >
                 <label>作业标题：
                   <input type="text" id="task_title" class="input_field"  placeholder="请输入作业标题"/>
                 </label>
                 <div class="cleaner_h10"></div>
                <label>所属班级：
                  <input type="text" id="task_class"  class="input_field" placeholder="请输入作业对应班级"/>
                </label>
                <div class="cleaner_h10"></div>
                  <label>开始时间：
                   <input type="text" id="startTime" class="input_field"  placeholder="请输入开始时间"/>
                 </label>
                <div class="cleaner_h10"></div>
                 <label>结束时间：
                   <input type="text" id="endTime" class="input_field"  placeholder="请输入结束时间"/>
                 </label>
                <div class="cleaner_h10"></div>
                  <label>作业内容：
                <textarea  id="task_content" placeholder="请输入作业内容"></textarea>
                  </label>
                  <div class="cleaner_h10"></div>   
                  <label>上传附件：
                    <input type="file" class="input_field" id="task_file"  />
                  </label>   
                  <div class="cleaner_h10"></div>
                 <div class="cleaner_h10"></div>
                   <input type="submit" value="提交" id="publish_submitt" name="submit" class="submit_btn float_l" style="float:left;position:relative;left:20%;"/>
				  <input type="reset" value="重置" id="reset" name="reset" class="submit_btn float_r" style="float:right;position:relative;right:30%;"/>
                   
       	    </form>
			  
              	<div class="cleaner_h10"></div>
            
        </div>
</div>
</div>
             
<div id="d5" class="col_w700">
<div class="col_w300">
<h2>批改作业</h2>
</div>

<div class="col_w500">

<div class="col_w300" style="height:90px;font-size: 28px;">
<div class="cleaner_h10"></div>

<div id="tc_form">
  <form>
<p>搜索作业：
        <select id="search_mode" style="font-size: 22px;height:37px;">
                  <option id="task_id"  selected="">作业编号</option>
                  <option id="task_name" >作业题目</option>
                  <option id="task_class" >作业班级</option>
            </select>
             <input  type="text" id="find_work" class="input_field" value="W10001" />
             <input type="submit" value="搜索" id="btn_find" class="submit_btn float_l" style="float:left;position:relative;left:85%;+margin-top:1px;" /></p>
          
</form> 
<TABLE border=0 cellpadding=1 cellspacing=1 id="table_work2" class="table_work" width="800"  style="font-size: 18px;">
<thead>
<TR style="background:#999FDD;">
<th>作业编号</th> 
<th>作业题目</th>
 <th>所属班级</th> 
  <th>发布时间</th> 
  <th>结束时间</th>
  

 </TR>
</thead>

<tbody>
<TR class="tr_work" ><td>W10001</td> <td>作业题目1</td> <td>软件1班</td> <td>2018/6/30 20:00</td><td>2018/7/30 20:00</td></TR>
<TR class="tr_work"><td>W10005</td> <td>作业题目5</td> <td>软件1班</td> <td>2018/6/01 22:00</td><td>2018/6/30 20:00</td></TR>



</tbody>
</TABLE>
</div>
</div>
</div>
</div>


<div id="d3" class="col_w700"  style="height: 1000px;">
<div class="col_w300">
<h2>批改作业</h2>
</div>

<div class="col_w500" style="height: 700px;">

       	  <div id="tc_form">

                
                 <p>&nbsp;</p>
                <form  action="#"  id="tc_correct_form" method="post">
                 <label>作业编号：
                   <input type="text"  id="correct_workid" readonly class="input_field"  />
                 </label>
                 <div class="cleaner_h10"></div>
                 <label>作业题目：
                   <input type="text"  id="correct_title" readonly class="input_field"  />
                 </label>
                 <div class="cleaner_h10"></div>
                 <label>所属班级：
                   <input type="text"  id="correct_class" readonly class=" input_field"  />
                 </label>
                 <div class="cleaner_h10"></div>
                 <label>学生学号：
                   <input type="text"   id="correct_id" readonly class=" input_field"  />
                 </label>
                 <div class="cleaner_h10"></div>
                 <label>学生姓名：
                   <input type="text"   id="correct_name" readonly class="input_field"  />
                 </label>
                 
                 <div class="cleaner_h10"></div>
                 <div class="cleaner_h10"></div>
                  <label>答题内容：
                <textarea    id="correct_content" readonly ></textarea>
                  </label>
                    <div class="cleaner_h10"></div>  
                    <div class="cleaner_h10"></div>
                    <label>批改分数：
                  <input type="text" name="correct_score" class="input_field"  />
               
                </label>              
						<div class="cleaner_h10"></div>
                 <div class="cleaner_h10"></div>
					<input type="submit" value="提交" id="correct_submit" name="submit" class="submit_btn float_l" onClick="not()" style="float:left;position:relative;left:45%;" />
                    <div class="cleaner_h30"></div>

                     <input type="submit" value="上一个学生" id="correct_up"  class="submit_btn float_l" style="width: 160px;"/>
				  <input type="submit"  value="下一个学生" id="correct_next"  class="submit_btn float_r"  style="width: 160px;"/>
    
       	    </form>

              	<div class="cleaner"></div>
            
        </div>
  </div>
</div>

<div id="d6" class="col_w700">
<div class="col_w300">
<h2>发布作业成功！</h2>
</div>

<div class="col_w500" style="height:600px;" >
       	  <div id="tc_form">
                 <p>&nbsp;</p>
                <form  id="tc_publish_form2" >
                <label>作业编号：
                   <input type="text" id="task_id2" class="input_field"  />
                 </label>
                 <div class="cleaner_h10"></div>
                 <label>作业标题：
                   <input type="text" id="task_title2" class="input_field"  />
                 </label>
                 <div class="cleaner_h10"></div>
                 <label>开始时间：
                         <input type="text" id="startTime" class="input_field"  />
                 </label>
                 <div class="cleaner_h10"></div>
                 <label>结束时间：
                   <input type="text" id="endTime" class="input_field"  />
                   </label>

                 <div class="cleaner_h10"></div>
                <label>所属班级：
                  <input type="text" id="task_class2"  class="input_field" />
                </label>
                <div class="cleaner_h10"></div>
                <div class="cleaner_h10"></div>
                  <label>作业内容：
                <textarea  id="task_content2" ></textarea>
                  </label>
                  <div class="cleaner_h10"></div>   
                 
                  <div class="cleaner_h10"></div>
                 <div class="cleaner_h10"></div>
                   <input type="submit" value="继续发布" id="jixu_submit" name="submit" class="submit_btn float_l" style="float:left;position:relative;left:40%;"/>
				
                   
       	    </form>
			  
              	<div class="cleaner_h10"></div>
            
        </div>
</div>
</div>



<div id="d4" class="col_w700">
<div class="col_w300">
<h2>统计成绩</h2>
</div>
<div class="col_w300" style="height:110px;font-size: 28px;">
<div class="cleaner_h10"></div>
 <div id="tc_form">
 <form id="correct_form">
<p>搜索作业：
        <select id="search_mode" style="font-size: 22px;height:37px;">
                  <option id="task_id"  selected="">作业编号</option>
                  <option id="task_name" >作业题目</option>
                  <option id="task_class" >作业班级</option>
          </select>
             <input  type="text" id="input_find" class="input_field"  />
             <input type="submit" value="搜索" id="find_submit" class="submit_btn float_l"  style="float:left;position:relative;left:85%;+margin-top:1px;" /></p>
          
</form>
 <form>
<p>&nbsp;排序：
        <select id="s1_text1_italic" style="font-size: 22px;height:37px;">
                  <option value="work_id" selected="">学号排序</option>
                  <option value="work_name">分数排序</option>
                  
          </select>
           &nbsp;  &nbsp; &nbsp;查找学生：
            <input  type="text" id="input_find_student" class="input_field" style="width:150px;" />
             <input type="submit" value="查找" id="find_stu_submit"  class="submit_btn float_l" onclick="" style="float:left;position:relative;left:80%;" /></p>
          
</form>
<div class="cleaner"></div>
</div>                 
</div>

<div class="col_w500" style="height:500px;">

<TABLE border=0 cellpadding=1 cellspacing=1 id="table_score" width="800"  style="font-size: 18px;">
<thead>
<TR style="background:#799FDD;">
<th>学号</th> 
<th>姓名</th>
 <th>班级</th> 
 <th>学院</th> 
 <th>作业题目</th> 
 <th>分数</th>
 </TR>
</thead>

<tbody>
<TR><td>10001</td> <td>姓名1</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>88</td></TR>

<TR><td>10002</td> <td>姓名2</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>90</td></TR>

<TR><td>10003</td> <td>姓名3</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>55</td></TR>

<TR><td>10004</td> <td>姓名4</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>79</td></TR>

<TR><td>10005</td> <td>姓名5</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>77</td></TR>
<TR><td>10006</td> <td>姓名6</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>88</td></TR>

<TR><td>10007</td> <td>姓名7</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>90</td></TR>

<TR><td>10008</td> <td>姓名8</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>55</td></TR>

<TR><td>10009</td> <td>姓名9</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>79</td></TR>

<TR><td>10010</td> <td>姓名0</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>77</td></TR>
<TR><td>10001</td> <td>姓名1</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>88</td></TR>

<TR><td>10002</td> <td>姓名2</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>90</td></TR>

<TR><td>10003</td> <td>姓名3</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>55</td></TR>

<TR><td>10004</td> <td>姓名4</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>79</td></TR>

<TR><td>10005</td> <td>姓名5</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>77</td></TR>
<TR><td>10006</td> <td>姓名6</td> <td>软件1班</td> <td>软信学院</td> <td>作业题目1</td> <td>88</td></TR>



</tbody>
</TABLE>

</div></div>

<div id="d7" class="col_w700">
<div class="col_w300">
<h2>个人信息</h2>
</div>

<div class="col_w500" style="margin-left:220px;width:400px;">
       	  <div id="tc_form">
                 <p>&nbsp;</p>
                <form  id="tc_publish_form" action="addWord" method="post">
                 <div class="cleaner_h10"></div>
                 <label>我的姓名：
                 <div class="cleaner_h10"></div>
                  &nbsp;&nbsp;&nbsp; <input type="text" id="tea_name" class="input_field"  disabled="true" value="杨xx"/>
                 </label>
                 <div class="cleaner_h10"></div>
             
                <label>我的学院：
                <div class="cleaner_h10"></div>
                   &nbsp;&nbsp;&nbsp; <input type="text" id="tea_acad"  class="input_field" disabled="true" value="软信学院"/>
                </label>
                <div class="cleaner_h10"></div>
                <label>我的工号：
                <div class="cleaner_h10"></div>
                   &nbsp;&nbsp;&nbsp; <input type="text" id="tea_id"  class="input_field" disabled="true" value="10001"/>
                </label>
                 <div class="cleaner_h10"></div>
                <label>我的密码：
                <div class="cleaner_h10"></div>
                   &nbsp;&nbsp;&nbsp; <input type="text" id="tea_passwd"  class="input_field" value="10001"/>
                </label>
                  <div class="cleaner_h30"></div>
                 <div class="cleaner_h20"></div>
                   <input type="submit" value="修改密码" id="update_submit" name="submit" class="submit_btn float_l" style="float:left;position:relative;left:35%;"/>
				  
                   
       	    </form>
			  
              	<div class="cleaner_h10"></div>
            
            </div>
</div>
</div>   

             
             
	 		<!--<footer id="footer"> 
	 		 Copyright &copy; 2019广西民族大学软信学院课程设计作业批改系统 | 
	 		<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">桂ICP备1000000号</a>
	 		</footer>-->
	 		
	 	</div>
	 	<script src="js/jsss.js"></script>
	 	<script src="js/time.js"></script>
	 </body>
</html>
