<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>作业批改系统</title>
	<link th:href="@{/templates/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<header>
	<div class="header-top">
		<div class="container">
			<h2 class="site-title"><a href=""></a></h2>
			<p class="site-sign">作业批改系统！</p>
		</div>
	</div>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
				        data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{index}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
					<li><a th:href="@{workList}" ><span class="glyphicon glyphicon-list"></span> 作业管理</a></li>
					<li><a th:href="@{questionList}"><span class="glyphicon glyphicon-user"></span> 题库管理</a></li>
					<li><a th:href="@{gradesList}"><span class="glyphicon glyphicon-grain"></span> 成绩管理</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img th:src="@{/templates/img/avatar1.jpeg}" height="20"> <span th:text="${session.username}">管理员</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{updateprofile}">个人资料</a></li>
							<li><a th:href="@{updatepassword}">修改密码</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="../login.html">退出</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.collapse.navbar-collapse-->
		</div><!--/.container-->
	</nav>
</header>

<article>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">

					<h4>
						<strong>作业修改</strong>
					</h4>
					<hr/>

					<form class="form-horizontal" th:action="@{/update}" th:object="${work}"  method="post">
						<input th:value="*{workid}"  name="id" type="hidden" required>

						<div class="form-group">
							<label class="control-label col-md-2">编号：</label>
							<div class="col-md-4">
								<label th:value="*{workId}"  name="workId" type="text" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">作业名称：</label>
							<div class="col-md-4">
								<label th:value="*{workName}"  name="workName" type="text" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">发布者：</label>
							<div class="col-md-4">
								<label th:value="*{teaId}" name="teaId"   type="text" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">发布时间：</label>
							<div class="col-md-4">
								<label th:value="*{startTime}" name="startTime"   type="text" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">结束时间：</label>
							<div class="col-md-4">
								<input th:value="*{endTime}" name="startTime"   type="text" class="form-control" required>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4 col-md-offset-2">
								<button type="submit" class="btn btn-primary">保存</button>
								<a th:href="@{update_classes}" class="btn btn-default">取消</a>
							</div>
						</div>
					</form>

				</div><!--/.content-->
			</div><!--/.col-md-12-->
		</div><!--/.row-->
	</div><!--/.container-->
</article>

<footer>
	<p class="copyright">
		&copy;2019 <a href="#"></a> 作业批改系统
	</p>
</footer>

<script src="../js/jquery-1.12.4.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../plugins/layer/layer.js"></script>
<script src="../js/base.js"></script>

</body>
</html>