<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:include="include/header_student :: header"></header>
<!--<input type="button" onclick="refurbishIndex()" value="点击查看所有"/>-->
<div>
    <a href="/workAdd">添加</a>
</div>
<table id="list">
    <tr>
        <th>编号</th>
        <th>作业名称</th>
        <th>发布者</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>操作&nbsp;&nbsp;删除</th>
    </tr>
    <tbody id="tbodydata"></tbody>
</table>
</body>
</html>
<script src="../js/jquery-1.12.4.min.js" ></script>
<script type="text/javascript">
    //点击查看所有
    $(function () {
            var res = $.ajax({
                url:"/findworkList",
                type:"get",
                dataType:"json",
                success:function (data) {
                    render.list(data);
                }
            });
    });
    //删除
    function del(workId){
        $.ajax({
            type:"get",
            url:"/deleteWork/"+workId,
            dataType:"json",
            success:function(data){
                alert("删除成功");
                render.list(data);
            },
            error:function (data) {
                alert("删除失败");
            }
        });
    };

    var render = {
        list:function (data) {
            var html = '';
            for (var i = 0; i < data.length; i++) {
                var d = data[i];
                html += "<tr >" +
                    "<td >"+data[i]['id']+"</td>\n" +
                    "<td >"+data[i]['workName']+"</td>\n" +
                    "<td >"+d['teaName']+"</td>\n" +
                    "<td >"+data[i].price+"</td>\n" +
                    "<td>\n" +
                    "<td>"+
                    // "<input type='button' id='upBtn' value='修改'/>"
                "<a href=\"/workUpdate?id="+data[i].id+"\">修改</a>&nbsp;&nbsp;\n"
                    +"<input type='button' id='delBtn' value='删除' onclick='del("+data[i].id+")'/>"+"</td>"+
                    "</tr>\n";
            }
            $("#tbodydata").html(html);
        }
    }
</script>
