<!DOCTYPE html>
<html llang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>accountTest</title>
</head>
<body>
<form th:action="@{/login}" method="post" id="Login">
    <h2>请登录
        <i class="fas fa-level-down-alt"></i>
    </h2>
    <div class="form-style-agile">
        <label>
            <i class="fas fa-user"></i>
            账号
        </label>
        <input placeholder="请输入账号" name="username" type="text" required="">
    </div>
    <div class="form-style-agile">
        <label>
            <i class="fas fa-unlock-alt"></i>
            密码
        </label>
        <input placeholder="请输入密码" name="password" type="password" required="">
    </div>
    <!-- checkbox -->
    <div class="wthree-text">
        <ul>
            <li>
                <label class="anim">
                    <input type="checkbox" class="checkbox" id="btn_login">
                    <span>记住登录状态</span>
                </label>
            </li>
            <li>
                <a href="#">忘记密码</a>
            </li>
        </ul>
    </div>
    <!-- //checkbox -->
    <input type="submit" value="登录" onClick="return check()">
</form>

</body>
</html>