<!DOCTYPE html>
<html>
	<head>
		<title>作业批改系统</title>
		<meta charset="utf-8" >
		<link rel="stylesheet" type="text/css" href="manager/css/admin.css" media="screen" />
		<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
		<script type="text/javascript" src="manager/js/exit.js"></script>
		<script type="text/javascript" src="manager/js/time.js"></script>
		<script type="text/javascript" src="manager/js/table.js"></script>
		<script type="text/javascript" src="manager/js/delete.js"></script>
		<script type="text/javascript" src="manager/js/teacherTable.js"></script>
		
		<script type="text/javascript">
			function showTime(){
   			 nowtime=new Date();
   			 year=nowtime.getFullYear();
   			 month=nowtime.getMonth()+1;
  			 date=nowtime.getDate();
    		 document.getElementById("mytime").innerText=year+"年"+month+"月"+date+" "+nowtime.toLocaleTimeString();
			}
           setInterval("showTime()",1000);
        </script>
	 </head>
	 <body >
	 	<div class="wrapper">
	 		<div id="header">
	 			<div id="header_top">作业批改系统</div>
	 			<div id="header_boom"> 欢迎您，管理员
					<span id="mytime">  </span>
	 			</div>
	 		</div>
	 		<aside class="sidebar" >
	 			<nav>
	 			<h1 >功能菜单</h1>
	 			<ul>
	 				<li><a id="academy_class" href="#">新增用户 </a></li>
	 				<li><a  id="student"   href="#">  管理学生信息  </a> </li>
	 				<li><a  id="teacher"   href="#">  管理教师信息   </a> </li>
	 				<li onclick="exit()"> <a href="#">退出系统</a> </li>
	 			</ul>
	 			</nav>
	 		</aside>
	 		<div class="content">
	 			
	 			<div id="academy_content">
	 				<div id="academy_class">
	 				
	 				
	 			</div>
	 			<div id="student_teacher">
	 				<div id="add_student">
	 				 	<div id="academy_top">
	 						添加学生
	 				 	</div>	
	 		        	 <div id="academy_id">
	 					   <form action="demo.jsp" method="get">

	 					   	<div class="input_control">
								学院名称： <input type="text" id="stu_academy" placeholder="请输入学院名称"/>
	 					   	</div>
	 					   	<div class="input_control">
	 					   		班级名称：<input type="text" id="stu_class" placeholder="请输入班级名称"/>
	 					   	 </div>
	 					   	 <div class="input_control">
	 					   		学号：<input type="text" id="stu_id" placeholder="请输入学号"/>
	 					   	 </div>
	 					   	<div class="input_control">
	 					   		初始密码：<input type="text" id="stu_password" placeholder="请输入初始密码"/>
	 					   	 </div>
	 					   	 <div class="input_control">
	 					   		姓名：<input type="text"  id="stu_name" placeholder="请输入姓名"/>
	 					   	 </div>
	 					   	<div class="input_control">
	 					   		<a id="submit"   onclick="success()"><b></b>确定</a>
	 					   	</div>
	 					   </form>
	 					</div>
	 				</div>
	 				
	 				<div id="add_teacher">
	 				 	<div id="academy_top">
	 						添加老师 
	 				 	</div>	
	 		        	 <div id="academy_id">
	 					   <form action="demo.jsp" method="get">

	 					   	<div class="input_control">
	 					   		单位名称： <input type="text" id="teacher_work" placeholder="请输入单位名称"/>
	 					   	</div>
	 					   	<div class="input_control">
	 					   		工号：<input type="text" id="teacher_id" placeholder="请输入工号"/>
	 					   	 </div>
	 					   	 <div class="input_control">
	 					   		密码：<input type="text" id="teacher_password" placeholder="请输入初始密码"/>
	 					   	 </div>
	 					   	<div class="input_control">
	 					   		姓名：<input type="text" id="teacher_name" placeholder="请输入姓名"/>
	 					   	 </div>
	 					   	<div class="input_control">
	 					   		<a id="submit"  onclick="success()"><b></b>确定</a>
	 					   	</div>
	 					   </form>
	 					</div>
	 				</div>
			    </div>
	 		</div>
	 			
	 			<!--学生信息管理-->
	 			<div id="student_content">
					<div id="student_search"  >
						<form action="deno.jsp" method="get">
							
						<button id="search_button" type="submit" >搜索</button>
						<input type="text" id="search_input"  />
						
						</form>
					</div>
	 				
	 				<div id="student_table" align="center" >
						<table align="center">
       						<thead>
          					  <tr>
          					     <th></th>
               					 <th>学院</th>
               					 <th>班级</th>
                				 <th>学号</th>
                				 <th>密码</th>
                				 <th>姓名</th>
                				 <th></th>
           					 </tr>
       					 </thead>
        					<tbody id="J_TbData"></tbody>
  						</table>      <br>
 					</div>
	 			</div>
	 			
	 			<div id="teacher_content">
	 				<div id="student_search"  >
						<form action="deno.jsp" method="get">							
						  <button id="search_button" type="submit" >搜索</button>
						  <input type="text" id="search_input"  />						
						</form>
					</div>
					<div id="student_table" align="center" >
						<table align="center">
       						<thead>
          					  <tr>
          					     <th></th>
               					 <th>学院</th>               				
                				 <th>工号</th>
                				 <th>密码</th>
                				 <th>姓名</th>
                				 <th></th>
           					 </tr>
       					 </thead>
        					<tbody id="T_TbData"></tbody>
  						</table>      <br>
 					</div>
	 				
	 			</div>
	 		</div>
	 		
	 		<footer id="footer"> 
	 		 Copyright &copy; 2019广西民族大学软件与信息安全学院课程设计作业批改系统
	 		</footer>
	 		
	 	</div>
	 	<script src="manager/js/jsss.js"></script>
	 	<script src="manager/js/time.js"></script>
	 </body>
</html>
