<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作业批改系统</title>
    <link rel="stylesheet" type="text/css" href="css/stu.css" media="screen" />
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
    <script type="text/javascript" src="js/stu_js/exit.js"></script>
    <script type="text/javascript" src="js/stu_js/time.js"></script>
    <script type="text/javascript">
        $("#me").ready(function(){
            $("#index").attr("class","current");
            $("#score").attr("class","");
            $("#me").attr("class","");
        });
    </script>
    <!--import引入-->
    <link rel="import" href="include/header.html" id="header"/>
    <link rel="import" href="include/menu.html" id="menu"/>
</head>
<body>
<div class="wrapper">
    <!--引入头部-->
    <div >
        <script type="text/javascript">
            document.write(header.import.body.innerHTML);
        </script>
    </div>
    <!--引入菜单-->
    <div>
        <script type="text/javascript">
            document.write(menu.import.body.innerHTML);
        </script>
    </div>
    <!--引入内容-->
    <div class="content">
        <h1>学生界面</h1>
        <!--完成作业-->
        <div id="d5" class="col_w700"  style="height: 700px;">
            <div class="col_w300">
                <h2>完成作业</h2>
            </div>
            <div class="col_w500" style="height: 620px;">
                <div id="tc_form">
                    <form  action="#"  id="tc_correct_form" method="post" style="margin-top: 5px;">
                        <label>作业编号：
                            <input type="text"  id="word_iid" readonly class="input_field"  style="margin-top: 5px;"/>
                            <div class="cleaner_h10"></div>
                        </label>
                        <label>作业题目：
                            <input type="text"  id="word_title" readonly class="input_field" style="margin-top: 5px;" />
                        </label>
                        <div class="cleaner_h10"></div>
                        <label>发布老师：
                            <input type="text"  id="word_class" readonly class=" input_field" style="margin-top: 5px;" />
                        </label>
                        <div class="cleaner_h10"></div>
                        <label>答题区域：</label>
                        <textarea  id="correct_content"  ></textarea>
                        </label>
                        <div class="cleaner_h10"></div>
                        <input type="submit" value="提交" id="correct_submit" name="submit" class="submit_btn float_l" onClick="not()" style="float:left;position:relative;left:45%;" />
                    </form>
                    <div class="cleaner"></div>
                </div>
            </div>
        </div>
        <!--完成作业end-->
    </div>
    <!--尾部-->
    <footer id="footer">
        Copyright &copy; 2019广西民族大学软件与信息安全学院课程设计作业批改系统
    </footer>
</div>
<SCRIPT LANGUAGE="JavaScript">
    window.onload = function() {
        doubleBgColor(document.getElementById("table_score"),"#D1D7E7","#ececec")
        doubleBgColor(document.getElementById("table_work"),"#D1D7E7","#ececec")
        doubleBgColor(document.getElementById("table_work2"),"#D1D7E7","#ececec")
        doubleBgColor(document.getElementById("table_work3"),"#D1D7E7","#ececec")
    }
    function doubleBgColor(Table,Bg1,Bg2) {
        for (var i=0;i<Table.rows.length;i++) Table.rows[i].bgColor=i%2?Bg2:Bg1;
    }
</SCRIPT>
</body>
</html>