<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input value="id"  name="id" type="hidden" required>
作业名称：<input name="workName"/><br>
发布者：<input name="teaId"/><br>
开始时间：<input name="startTime"/><br>
结束时间：<input name="endTime"/><br>
<input onclick="update()" type="button" value="确定" />
</body>
</html>
<script src="js/jquery-1.12.4.min.js" ></script>
<script>
    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }
    $(function get() {
        var workName = GetQueryString("workName");

        $.ajax({
            url:'/findById/'+workName,
            type:"get",
            async:false,
            dataType:"json",
            success:function(data){
                $("input[name='workName']").val(data.workName);
               $("input[name='teaId']").val(data.teaId);
                $("input[name='startTime']").val(data.startTime);
                $("input[name='endTime']").val(data.endTime);
            },
            error:function (data) {
                alert("search error");
            }
        });
    });
    //修改
    function update() {
        var workId=$("input[name='workId']").val();
        var workName=$("input[name='workName']").val();
        var endTime=$("input[name='endTime']").val();

        $.ajax({
            url:'/updateWork/',
            type:"put",
            async:false,
            data:{id:id,workName:workName,endTime:endTime},
            dataType:"text",
            success:function(data){
                console.log(data);
                if(data != 0){
                    alert("修改成功");
                    window.location.href='/work';
                }else{
                    alert("修改失败");
                }
            },
            error:function (data) {
                alert("修改失败");
            }
        });
    };
</script>